@model NewsDetailVM
@{
    ViewData["Title"] = "Detail";
}

<style>
    table, td, td {
        border: 1px solid;
        text-align: center;
    }
</style>

<div class="container">
    <div class="images my-2" @*style="width: 50% !important;"*@>
        @foreach (var item in Model.Image)
        {
            <img src="~/assets/img/News/@item.Image" style="max-height: 300px;" />
        }
    </div>
    <div @*class="detail"*@>
        <table>
            <tbody>
                <tr>
                    <td style="background-color: #f0f0f0;">Title</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td style="background-color: #f5f5f5;">Article</td>
                    <td>@Html.Raw(@Model.Article)</td>
                </tr>
                <tr>
                    <td style="background-color: #f0f0f0;">Category</td>
                    <td>@Model.Category</td>
                </tr>
                <tr>
                    <td style="background-color: #f5f5f5;">Product Tags</td>
                    <td>
                        @foreach (var item in Model.NewsTags)
                        {
                            @item.Tag.Name
                            @if (item != Model.NewsTags.Last())
                            {
                                @Html.Raw(", ")
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #f0f0f0;">Created Date</td>
                    <td>@Model.CreateDate</td>
                </tr>
                <tr>
                    <td style="background-color: #f5f5f5;">Creator</td>
                    <td>@Model.CreatorName</td>
                </tr>
            </tbody>


        </table>
    </div>
    <a asp-action="Index" class="btn btn-primary btn-rounded btn-fw mt-3">Back</a>





</div>

