@model LayoutVM
<footer class="footer">
    <div class="container">
        <div class="footer-widgets">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6">
                    <div class="widget">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/img/@Model.SettingDatas["Logo"]" class="logo-img" alt="">
                        </a>
                        <p class="mt-20 mb-30">
                            Cryptocurrency news blog and investment strategy guide. All you
                            need to know about ICOs, education, reviews, mining, and more.
                        </p>
                        <div class="socials">
                            <a href="#" class="social social-facebook" aria-label="facebook">
                                <i class="ui-facebook"></i>
                            </a>
                            <a href="#" class="social social-twitter" aria-label="twitter">
                                <i class="ui-twitter"></i>
                            </a>
                            <a href="#" class="social social-google-plus" aria-label="google+">
                                <i class="ui-google"></i>
                            </a>
                            <a href="#" class="social social-youtube" aria-label="youtube">
                                <i class="ui-youtube"></i>
                            </a>
                            <a href="#" class="social social-instagram" aria-label="instagram">
                                <i class="ui-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Useful Links</h4>
                        <ul>
                            <li><a asp-controller="About" asp-action="Index">About</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Advertise</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">FAQ</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="footer-bottom">
        <div class="container text-center">
            <span class="copyright">
                @Html.Raw(@Model.SettingDatas["CopyRight"])
                @*&copy; 2023 BitNews | Made by*@
                <a href="@Model.SettingDatas["CreatorLinkedin"]">
                    @Html.Raw(@Model.SettingDatas["Creator"])
                </a>
            </span>
        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->

<div id="back-to-top">
    <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
</div>