@using BitNews.Areas.Admin.ViewModels.News;

@model Paginate<NewsVM>

@{
    ViewData["Title"] = "Index";
    var distinctCategories = Model.Datas.Select(item => item.CategoryName).Distinct();
    //var distinctTags = Model.Datas.Select(item => item.Tag).Distinct();

}


<main class="main oh" id="main">

    <section class="section-wrap main-content">
        <div class="container">
            <div class="row">


                <div class="col-md-4">
                    <h1 class="page-title h2">All News</h1>
                    <div class="row flex-column">
                        <div class="container">
                            <select name="sort" class="w-75 mb-1">
                                <option value="">Sort By</option>
                                <option value="alphabet" selected="@(ViewBag.SortBy == "alphabet" ? "selected" : null)">Alphabet</option>
                                <option value="popular" selected="@(ViewBag.SortBy == "popular" ? "selected" : null)">Popular</option>
                                <option value="latest" selected="@(ViewBag.SortBy == "latest" ? "selected" : null)">Latest News</option>
                            </select>
                            <form id="pageSizeForm" asp-action="Index" method="get">
                                <select id="pageSizeSelect" name="pageSize" class="w-75 mb-1" onchange="submitForm()">

                                    <option>Show Item</option>
                                    <option value="6" select=@(ViewBag.PageSize == 6 ? "selected" : "")>Show 6</option>
                                    <option value="12" select=@(ViewBag.PageSize == 12 ? "selected" : "")>Show 12</option>
                                    <option value="24" select=@(ViewBag.PageSize == 24 ? "selected" : "")>Show 24</option>
                                    <option value="48" select=@(ViewBag.PageSize == 48 ? "selected" : "")>Show 48</option>
                                </select>
                            </form>



                        </div>

                        <div class="shop-widget w-80">
                            <div class="container">
                                <form>
                                    <h6 class="shop-widget-title my-2">Filter by Category</h6>
                                    <ul class="shop-widget-list">
                                        @foreach (var categoryName in distinctCategories)
                                        {
                                            <li class="my-2">
                                                <div class="shop-widget-content">
                                                    <input type="checkbox" id="@($"tag{categoryName}")">
                                                    <label for="@($"tag{categoryName}")">@categoryName</label>
                                                </div>
                                            </li>
                                        }
                                    </ul>


                     @*               <h6 class="shop-widget-title my-2">Filter by Tag</h6>
                                    <ul class="shop-widget-list">
                                        @foreach (var tagName in distinctTags)
                                        {
                                            <li class="my-2">
                                                <div class="shop-widget-content">
                                                    <input type="checkbox" id="@($"tag{tagName}")">
                                                    <label for="@($"tag{tagName}")">@tagName</label>
                                                </div>
                                            </li>
                                        }
                                    </ul>*@
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">

                        <div class="row">
                            @if (Model != null && Model.Datas.Count > 0)
                        {
                            <partial name="_ProductsPartial" />
                        }
                        else
                        {
                            <p>No news available.</p>
                        }

                    </div>
                    @*            @if (Model != null && Model.Datas.Count > 0)
                    {
                    <nav class="show-more">
                    <div class="show-more-link text-center">
                    <a href="#" class="btn btn-lg btn-color">
                    <span>more news</span>
                    </a>
                    </div>
                    </nav>
                    }*@

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination d-flex justify-content-center mt-3">
                                <nav aria-label="...">
                                    <ul class="pagination">
                                        <li class="page-item @(Model.HasPrevious ? "" : "disabled")">
                                            <a class="page-link" href="@Url.Action("Index", new { selectedTags = ViewBag.SelectedTags, page = Model.CurrentPage - 1, pageSize = ViewBag.PageSize })" tabindex="-1">Previous</a>
                                        </li>
                                        @for (int i = 1; i <= Model.TotalPage; i++)
                                        {
                                            <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                                                <a class="page-link @(Model.CurrentPage == i ? "active-paginate" : "")" href="@Url.Action("Index", new { selectedTags = ViewBag.SelectedTags, page = i, pageSize = ViewBag.PageSize })">@i</a>
                                            </li>
                                        }

                                        <li class="page-item @(Model.HasNext ? "" : "disabled")">
                                            <a class="page-link" href="@Url.Action("Index", new { selectedTags = ViewBag.SelectedTags, page = Model.CurrentPage + 1, pageSize = ViewBag.PageSize })">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>

                </div>

            </div>



        </div> <!-- end container -->
    </section> <!-- end main content -->

    <div id="back-to-top">
        <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

</main>


@section Scripts {
    <script>
        $(document).ready(function () {
            // Function to handle filtering based on selected checkboxes
            function filterNewsByTag() {
                var selectedTags = [];
                $('input[type="checkbox"]:checked').each(function () {
                    selectedTags.push($(this).attr('id').replace('tag', ''));
                });

                if (selectedTags.length === 0) {
                    // If no checkboxes are selected, show all news articles
                    $('.filter-category-news').show();
                } else {
                    // Hide all news articles
                    $('.filter-category-news').hide();

                    // Show only news articles with selected tags
                    selectedTags.forEach(function (tagId) {
                        // Show articles with matching data-tag attribute
                        $('.entry[data-tag="' + tagId + '"]').closest('.filter-category-news').show();
                    });
                }
            }

            // Handle checkbox change event
            $('input[type="checkbox"]').on('change', filterNewsByTag);

            // Initially, trigger the filtering to show the relevant news articles
            filterNewsByTag();
        });

        function submitForm() {
            document.getElementById('pageSizeForm').submit();
        }






    </script>
}
